/*// UTILITY */
.clickable {
    cursor: pointer;
}
/* Hover effects */
i:hover:not(.search-chat, .fa-bell-slash) {
    color: #25D366;
}
.text-alert:hover {
    color: white;
}
.contact-chat:hover {
    background-color: #fafafa;
}
/* Sizing */
.h-100vh {
    height: 100vh;
}
.h-90vh {
    height: 90vh;
}
.h-4vh {
    height: 5vh;
}
.h-8vh {
    height: 8vh;
}
.h-10vh {
    height: 10vh;
}
.h-11vh {
    height: 11vh;
}
.h-70vh {
    height: 70vh;

}
.w-1200 {
    width: 1200px;
}
.w-500 {
    width: 1000px;
}
.f-10 {
    font-size: 10px;
}
.f-12 {
    font-size: 12px;
}
.f-14 {
    font-size: 14px;
}
.f-15 {
    font-size: 15px;
}
.f-20 {
    font-size: 20px;
}
.f-24 {
    font-size: 24px;
}
.m-60 {
    margin: 0 60px;
}
/* Bg-color */
.bg-light-grey {
    background-color: #eaeaea;
}
.bg-light-blue {
    background-color: #8edafc;    
}
.bg-ligher-grey {
    background-color: #fafafa;
}
.bg-chat-selected {
    background-color: #e9ebeb;
}
.bg-light-beige {
    background-color: #f3eeea;    
}

/* Text-color */
.text-grey {
    color: #b1b1b1;
}
.text-dark-grey {
    color: #748485;
}
.text-light-grey {
    color: #b6b9bb;
}


/*// BODY LAYOUT */
#full-bg {
    background-image: linear-gradient(to top, #dddcd3 80%, #128C7E 10%);
}

#main-screen {
    position: relative;
    top: 5vh;
}
#contact {
    overflow-y: scroll;
    height: 60vh;
    overflow-x: hidden;
}

/*// CHAT LAYOUT */
#cental-chat-contact {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}
#chat-section {
    background-image: url("../img/mine.jpg");
}
.img-avatar {
    height: 8vh;
    border-radius: 50%;
}

.fa-bell-slash {
    border-radius: 50%;
    background-color: white;
    padding: 13px 10px;
    font-size: 20px;
    margin: 0 12px;
    color: #8edafc;
}

/*// Chat message layout */
#message-section {
    border: 10px solid #f3eeea;
    border-radius: 15px;
}
.message-container {
    display: flex;
}
.message-container.sent-messages {
    justify-content: flex-end;
}
.message-container.received-messages {
    justify-content: flex-start;
}
.message-container.sent-messages .message {
    background-color: #d5f9ba;
    margin-right: 100px;
}
.message-container.received-messages .message {
    background-color: white;
    margin-left: 100px;
}
.message {
    align-items: center;
    border-radius: 10px;
    margin: 10px 0;
}