/*// UTILITY */
/* Sizing */
.h-100vh {
    height: 100vh;
}
.h-90vh {
    height: 90vh;
}
.h-4vh {
    height: 5vh;
}
.h-10vh {
    height: 10vh;
}
.h-11vh {
    height: 11vh;
}
.h-70vh {
    height: 70vh;

}
.w-1200 {
    width: 1200px;
}
/* Bg-color */
.bg-light-grey {
    background-color: #eaeaea;
}
.bg-light-blue {
    background-color: #8edafc;    
}
.bg-ligher-grey {
    background-color: #fafafa;
}
.bg-chat-selected {
    background-color: #e9ebeb;
}
.bg-light-beige {
    background-color: #f3eeea;    
}
/* Text-color */
.text-grey {
    color: #b1b1b1;
}


/*// BODY LAYOUT */
#full-bg {
    background-image: linear-gradient(to top, #dddcd3 80%, #128C7E 10%);
}

#main-screen {
    position: relative;
    top: 5vh;
}
#contact {
    overflow-y: scroll;
    height: 60vh;
    overflow-x: hidden;
}

/*// CHAT LAYOUT */
#cental-chat-contact {
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: url("../img/mine.jpg");
}

.img-avatar {
    height: 8vh;
    border-radius: 50%;
}